.card {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border-radius: 10px;
    gap: 20px;
}
.card img {
    height: 100%;
    width: 200px;
}
.cardData {
    padding: 20px 10px;
}
.cardData h3 {
    text-align: center;
    margin-bottom: 30px;
}