.deteilContainer {
  position: fixed;
  right: 0px;
  width: 30%;
  height: 90%;
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
}
.deteilString {
  margin-left: 50px;
}
.deteilString h2 {
  margin-bottom: 15px;
}
.deteilContainer img {
  width: 80%;
  margin: 10px;
}
.noDeteilContainer {
  position: absolute;
  right: -999px;
}
