.paginationContainer {
  display: flex;
  gap: 1%;
  justify-content: center;
  margin: 20px 0px;
}
.paginationContainer button {
  width: auto;
  padding: 5px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
